* {
	box-sizing: border-box;
}

body {
	color: #396516;
	font-family: 'Happy Monkey', cursive;
	text-align: center;
}

h2 {
	display: inline-block;
}

a:hover {
	cursor: pointer;
}

.button {
	display: inline-block;
	font-size: 16px;
	padding: 15px 30px;
	color: #FFF;
}

.button.add-time,
#start {
	background-color: #5DA423;
	border: 1px solid #396516;
}

#start {
	margin: 10px 0;
}

.button.remove-time,
#stop {
	background-color: #C60F13;
	border: 1px solid #7F0A0C;
}

#reset {
	background-color: #337ab7;
	border-color: #2e6da4
}

/* Helper Classes */
.hidden {
	display: none;
}

}

}
